/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:00px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 2em;
    line-height: 1.4em;
    
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	background: rgba(67,82,145,1) ;
font-family: Baumans;
  font-weight: Regular;
    color:white;
 background-size:cover;
    font-size: 20px;
    padding: inherit;
    font-stretch: 200%;
}

li {
    font-family: Caprasimo;
  font-weight: Regular;
    word-spacing: 10px;
    padding: 8px;
    line-height: 20px;
    font-size: 25px;
    display: inline;
    
}

a {
  color:rgba(231,236,247,1);
}

a:hover {
  color:rgba(26,26,78,1) ;
}




h2{
 font-family: Caprasimo;
  font-weight: Regular;
    word-spacing: 20px;
    line-height: 30px;
    font-size: 20px;
}


#container {
	
    padding:15px;
    width:95%;
    margin:auto;
  text-align: center;
    color:rgba(231,236,247,1);
}



section{
     border:1px #41c8f6;
    margin-bottom:1em;
    padding:15px;
    
   
  
}
  
  section#G{
        
      background-color: rgba(26,26,78,1);      
    }
	
    section#H{
      
        background-color: rgba(26,26,78,1); 
    }
    
  section#W{
         background-color: rgba(26,26,78,1);      
    }
    section#s{
        
      background-color: rgba(26,26,78,1);      
    }
 section#L{
        background-color: rgba(26,26,78,1);      
    }
 .desktop {
    display:none;
}   
    

    
    header{
 font-family: Caprasimo;
  font-weight: Regular;
   font-size: 20px;
 text-align: center; 
color:lightskyblue;
    
}
footer{
     background-color: rgba(26,26,78,1); 
font-size: 15px; 
}

#container {

    




}




/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) 
	
 #container {
        
      section#H{
    width: 42%; 
      
    
    }
    
    section#G{
      width: 43%;
    
         }
    
    
	section#W{
      width: 43%;
    
         }
     section#s{
      width: 43%;
    
         }
     section#L{
      width: 43%;
    
         }
     
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	#container {
        
        width:950px;
    }
    
    .mobile {
        
        display:none;
        
    }
    
    .desktop {
        display:block;
    }
	
	
	
} /* closes 1024px+ */



