/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 4em;
    line-height: 1.4em;
text-align: center;
}



body {
font-family: "Rye", serif;
background: #a8ffe1;
}

h1 {
  font-size: 200px;
  background: -webkit-linear-gradient(#eee, #333);
 text-shadow: 2px 2px 5px red;
    text-align: center;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 100px;
  background: -webkit-linear-gradient(#eee, #333);
 text-shadow: 2px 2px 5px red;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-align: center;
}

p{
    font-size: 90px;
     
}

p1{
    font-size: 100px;
    color: midnightblue;
text-align: center;
    text-shadow: 0 0 15px #006b09;

} 

p2{
 text-shadow: 2px 2px;   
color: #16b060;
}
    
p3{
    font-size: 40px;
text-align: center;
    color:#3f19c8;
    
}
 
p4{
  text-shadow: 2px 2px;  
color: #16b060;
}

p5{
   font-size: 50px; 
text-align: center;
color:#3f19c8;
}

p6{
   text-shadow: 2px 2px; 
color: #16b060;
color:#3f19c8;
}

p7{
   font-size: 30px; 
text-align: center;
color:#3f19c8;
}

p8{
    text-shadow: 2px 2px;
color: #16b060;
}

p9{
   font-size: 70px; 
text-align: center;
color:#3f19c8;
}



footer{
    font-size: 100px;
    color: midnightblue;
text-align: center;
    text-shadow: 2px 2px 15px #000000;
}

span.J{
  font-size: 800px;
    rotate: -30deg;
    text-shadow: 0 0 15px #65f4ed, 0 0 15px #0000FF;
    position: absolute; top: 300px; right: 3100px;
    writing-mode: vertical-lr;
  text-orientation: upright;
   
      
}


span.O {
  font-size: 700px;
    rotate: -20deg;
    text-shadow: 0 0 30px #f6a428;
    writing-mode: vertical-lr;
position: absolute; top: 700px; right: 4300px;  
    text-orientation: upright;         
}


span.h {
  font-size: 400px;
    rotate: -30deg;
    text-shadow: 0px 0px 15px blue, 0 0 25px blue, 0 0 5px blue;
    writing-mode: vertical-lr;
position: absolute; top: 2100px; right: 2000px;  
    text-orientation: upright;
  padding: 10px;
    
         
}

span.n {
  font-size: 500px;
    rotate: -30deg; 
    text-shadow: 0 0 30px #f6a428;
    writing-mode: vertical-lr;
position: absolute; top: 1900px; right: 1500px;  
    text-orientation: upright;
  padding: 10px;
    
         
}

span.F {
  font-size: 500px;
    rotate: 30deg;
     text-shadow: 0px 0px 15px blue, 0 0 25px blue, 0 0 5px blue;
    writing-mode: vertical-lr;
position: absolute; top: 2100px; right: 400px;  
    text-orientation: upright;
  padding: 10px;
   
         
}

span.o {
  font-size: 700px;
    rotate: -30deg;
   text-shadow: 0 0 15px #65f4ed, 0 0 15px #0000FF;
    writing-mode: vertical-lr;
position: absolute; top: 2500px; right: 490px;  
    text-orientation: upright;
  padding: 10px;
    
         
}

span.r {
  font-size: 500px;
    rotate: 30deg;
   text-shadow: 0 0 30px #f6a428;
    writing-mode: vertical-lr;
position: absolute; top: 3100px; right: 400px;  
    text-orientation: upright;
  padding: 10px;
    
         
}

span.d {
  font-size: 500px;
    rotate: -30deg;
    text-shadow: 0px 0px 15px blue, 0 0 25px blue, 0 0 5px blue;
    writing-mode: vertical-lr;
position: absolute; top: 3700px; right: 350px;  
    text-orientation: upright;
  padding: 10px;
    
}

span.S {
 font-size: 700px;
    rotate: -30deg; 
    text-shadow: 0 0 30px #f6a428;
    writing-mode: vertical-lr;
position: absolute; top: 400px; right: 1600px;  
    text-orientation: upright;
  padding: 10px;   
    
}

span.A{  
  font-size: 400px;
    rotate: -30deg; 
    text-shadow: 0 0 30px #f6a428;
    writing-mode: vertical-lr;
position: absolute; top: 300px; right: 800px;  
    text-orientation: upright;
  padding: 10px;     
}

span.B{  
  font-size: 500px;
    rotate: -30deg; 
    text-shadow: 0 0 15px #65f4ed, 0 0 15px #0000FF;
    writing-mode: vertical-lr;
position: absolute; top: 500px; right: 1300px;  
    text-orientation: upright;
  padding: 10px;     
}

span.C{  
  font-size: 400px;
    rotate: -30deg; 
    text-shadow: 0 0 30px #f6a428;
    writing-mode: vertical-lr;
position: absolute; top: 400px; right: 1100px;  
    text-orientation: upright;
  padding: 10px;     
}

span.D{  
  font-size: 700px;
    rotate: -25deg; 
    text-shadow: 0 0 30px #f6a428;
    writing-mode: vertical-lr;
position: absolute; top: 500px; right: 4100px;  
    padding: 10px;
}

span.E{  
  font-size: 700px;
    rotate: -25deg; 
    text-shadow: 0 0 30px #f6a428;
    writing-mode: vertical-lr;
position: absolute; top: 2300px; right: 3400px;  
     padding: 10px;
}

span.f{  
  font-size: 600px;
    rotate: -20deg; 
    text-shadow: 0 0 15px #65f4ed, 0 0 15px #0000FF;
    writing-mode: vertical-lr;
position: absolute; top: 1200px; right: 4800px;  
     text-orientation: upright;
    padding: 10px;
}
span.G{  
  font-size: 360px;
    rotate: -30deg; 
    text-shadow: 0 0 15px #65f4ed, 0 0 15px #0000FF;
    writing-mode: vertical-lr;
position: absolute; top: 500px; right: 2500px;  
     text-orientation: upright;
    padding: 10px;
}
 
span.H{  
  font-size: 380px;
    rotate: -30deg; 
    text-shadow: 0 0 15px #65f4ed, 0 0 15px #0000FF;
    writing-mode: vertical-lr;
position: absolute; top: 500px; right: 3000px;  
     text-orientation: upright;
    padding: 10px;
}

span.I{  
  font-size: 300px;
    rotate: -30deg; 
    text-shadow: 0 0 30px #f6a428;
    writing-mode: vertical-lr;
position: absolute; top: 500px; right: 500px;  
     text-orientation: upright;
    padding: 10px;
}

span.K{  
  font-size: 200px;
    rotate: -30deg; 
    text-shadow: 0 0 30px #f6a428;
    writing-mode: vertical-lr;
position: absolute; top: 500px; right: 300px;  
     text-orientation: upright;
    padding: 10px;
}
<div> John Ford </div>

#container {
	
}




